.list {
list-style: none;
font-size: 15px;
text-align: center;
}
.close {
text-decoration: line-through;
}
.delete {
    margin-top: 15px;
    text-align: center;
    font-size: 10px;
    text-decoration: underline;
}
